<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848266887263-crjh2j50jk8okjso55faibd3qbg4q4sj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848266887263-crjh2j50jk8okjso55faibd3qbg4q4sj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>848266887263-kii0tvui8j08qemdljftel5bbpq5ld4j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDJVKzdos70HDu03qSaQtO-uf5GqW-GTg0</string>
	<key>GCM_SENDER_ID</key>
	<string>848266887263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Fighting.FitApp</string>
	<key>PROJECT_ID</key>
	<string>fitapp-12052020</string>
	<key>STORAGE_BUCKET</key>
	<string>fitapp-12052020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848266887263:ios:3d26a6969a74e0b079dbea</string>
	<key>DATABASE_URL</key>
	<string>https://fitapp-12052020.firebaseio.com</string>
</dict>
</plist>